<!-- Default form register -->

<div class="container">
    <div class="row">
      <div class="col-sm">
<form class="text-center border border-light p-5">
    <h1><p class="h4 mb-4">Pagos</p></h1>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="cedula">
            <small id="emailHelp" class="form-text text-muted">Al ingresar la cedula se recaudara todos los pagos.</small>
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Nombre">
        </div>
         
    </div>
    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Apellidos">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Direccion">
        </div>
         
    </div>
    
    <!-- Sign up button -->
    <div class="form-row mb-4">
            <div class="col-sm">
    <button class="btn btn-info my-2 btn-block" type="submit">Buscar Pago</button>
            </div>
        </div>
    <!-- Social register -->


    <div class="row">
            <div class="col-sm"> 
                    <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Monto</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>12/12/2019</td>
                                <td>30</td>
                              </tr>
                              <tr>
                                    <th scope="row">2</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>12/12/2019</td>
                                    <td>30</td>
                                  </tr>
                                  <tr>
                                        <th scope="row">3</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>12/12/2019</td>
                                        <td>30</td>
                                      </tr>
                                      <tr>
                                            <th scope="row">4</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>12/12/2019</td>
                                            <td>30</td>
                                          </tr>
                            </tbody>
                          </table>
                          
                          


            </div>


    </div>
    

</form>
<!-- Default form register -->
</div>
</div>
</div>